<%= stylesheet_link_tag "registrations", media: "all", "data-turbo-track": "reload" %>

<div class="container mt-5">
  <h2 class="text-center mb-4">新規登録</h2>
  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :post }) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation, "もう一度パスワードを入力" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="form-group text-center">
      <%= f.submit "新規登録", class: "btn btn-primary custom-btn" %>
    </div>
  <% end %>
  



