<%= stylesheet_link_tag "registrations", media: "all", "data-turbo-track": "reload" %>

<div class="container mt-5">
  <h2 class="text-center mb-4">新規登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-50 mx-auto" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="birthday">生年月日</label>
      <div class="form-row">
        <div class="col">
          <input type="text" id="year" name="year" placeholder="年" class="form-control" />
        </div>
        <div class="col">
          <input type="text" id="month" name="month" placeholder="月" class="form-control" />
        </div>
        <div class="col">
          <input type="text" id="day" name="day" placeholder="日" class="form-control" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, "性別" %><br>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, 'male', class: "form-check-input" %>
        <%= f.label :gender, '男性', value: 'male', class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, 'female', class: "form-check-input" %>
        <%= f.label :gender, '女性', value: 'female', class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "もう一度パスワードを入力" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "新規登録", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>


