カウンターニューテーション
<div class="counternutation_flexion_behavior">
<div class="submit_pain_location_flexion">
  <h2 class="text-center mb-4">当てはまるものにチェックをお願いします</h2>

  <%= form_with url: myofascial_back_pain_flexion_behavior_path, method: :post, local: true do %>
    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'standing_posture', false, class: 'form-check-input', id: 'standing_posture' %>
      <%= label_tag 'standing_posture', '尾骨を強く押さえながら腰を曲げ伸ばしすると楽な気がする', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'sitting_posture', false, class: 'form-check-input', id: 'sitting_posture' %>
      <%= label_tag 'sitting_posture', '長時間立ちっぱなしだと痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'uncomfortable_feeling', false, class: 'form-check-input', id: 'uncomfortable_feeling' %>
      <%= label_tag 'uncomfortable_feeling', '痛みの出ている方の足で片足立をすると腰に痛みや違和感が出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'a_feeling_of_unease', false, class: 'form-check-input', id: 'a_feeling_of_unease' %>
      <%= label_tag 'a_feeling_of_unease', '太ももやお尻にも痛みや違和感が出る', class: 'form-check-label' %> <!-- ここを修正 -->
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'one_finger', false, class: 'form-check-input', id: 'one_finger' %>
      <%= label_tag 'one_finger', '人差し指で痛みの部位を指し示すことができる', class: 'form-check-label' %>
    </div>

    <br>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'nothing', false, class: 'form-check-input', id: 'nothing' %>
      <%= label_tag 'nothing', 'どれも当てはまらない', class: 'form-check-label' %>
    </div>
    
    <div class="button-group mt-4 d-flex flex-column align-items-center">
      <%= submit_tag '次へ進む', class: 'btn btn-primary custom-btn' %>  <!-- submit_tagを使用してフォームを送信 -->
      <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
    </div>
  <% end %>
</div>
</div>

