
<div class="intervertebral_joint_flexion_behavior">
<div class="submit_pain_location_flexion">
  <h2 class="text-center mb-4">当てはまるものにチェックをお願いします</h2>

  <%= form_with url: pain_behavior_extention_intervertebral_joint_extention_behavior_path, method: :post, local: true, authenticity_token: true do %>



    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'standing_posture', false, class: 'form-check-input', id: 'standing_posture' %>
      <%= label_tag 'standing_posture', '尾骨を強く押さえながら腰を曲げ伸ばしすると楽な気がする', class: 'form-check-label' %>
    </div>


    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'parietal_flexion', false, class: 'form-check-input', id: 'parietal_flexion' %>
      <%= label_tag 'parietal_flexion', '身体を横に曲げると痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'rotation', false, class: 'form-check-input', id: 'rotation' %>
      <%= label_tag 'rotation', '急な動きで痛くなる', class: 'form-check-label' %>
    </div>
    
    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'one_finger', false, class: 'form-check-input', id: 'one_finger' %>
      <%= label_tag 'one_finger', '人差し指で痛みの部位を指し示すことができる', class: 'form-check-label' %>
    </div>


    <br>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'nothing', false, class: 'form-check-input', id: 'nothing' %>
      <%= label_tag 'nothing', 'どれも当てはまらない', class: 'form-check-label' %>
    </div>

    <div class="button-group mt-4 d-flex flex-column align-items-center">
      <%= submit_tag '次へ進む', class: "btn btn-primary custom-btn btn-lg" %>
      <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
    </div>
  <% end %>
</div>
</div>
