<div class="my_page">
<div class="my_page">
  <%= render 'shared/nutation' %>

  <!-- ツボセクション -->


  <!-- ストレッチセクション -->
  <%= render 'strech/hamstrings_towel' %>
  
  <!-- 運動方法セクション -->
  <%= render 'rehabilitation/draw_in' %>

  <!-- マイページ登録ボタン -->
  <% if user_signed_in? %>
    <!-- 会員がサインインしている場合、会員用のルートを使用 -->
    <%= link_to '次へ進む', nutation_user_path(current_user), class: 'btn btn-primary' %>
  <% else %>
    <!-- ゲスト用のルートを使用 -->
    <%= link_to '次へ進む', nutation_guest_path, class: 'btn btn-primary' %>
  <% end %>

  <!-- Buttons Section -->
  <div class="buttons">
    <% if user_signed_in? %>
      <%= button_to "マイページ登録", user_my_page_nutation_path(current_user), method: :post, class: "btn btn-primary" %>
    <% else %>
      <button class="button-secondary">フォーム欄ページに戻る</button>
      <button class="button-tertiary">トップページに戻る</button>
    <% end %> <!-- ここでelseに対応するendを追加 -->
  </div>
</div>

