<%= form_with url: submit_form_users_path, method: :post do |f| %>
  <div class="form-container">
    <h2 class="form-title">生年月日</h2>

    <div class="form-row">
      <!-- 年のプルダウン -->
      <div class="col">
        <%= f.select :year, options_for_select((1900..Date.today.year).to_a.reverse, selected: @user_data[:year]), { prompt: '年' }, { class: 'form-control' } %>
      </div>
      <span>/</span>

      <!-- 月のプルダウン -->
      <div class="col">
        <%= f.select :month, options_for_select((1..12).to_a, selected: @user_data[:month]), { prompt: '月' }, { class: 'form-control' } %>
      </div>
      <span>/</span>

      <!-- 日のプルダウン -->
      <div class="col">
        <%= f.select :day, options_for_select((1..31).to_a, selected: @user_data[:day]), { prompt: '日' }, { class: 'form-control' } %>
      </div>
    </div>

    <div class="gender-section">
      <div class="form-check">
        <%= f.radio_button :gender, 'male', checked: @user_data[:gender] == 'male', id: 'male', class: 'form-check-input' %>
        <%= f.label :male, '男性', class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :gender, 'female', checked: @user_data[:gender] == 'female', id: 'female', class: 'form-check-input' %>
        <%= f.label :female, '女性', class: 'form-check-label' %>
      </div>
    </div>

    <div class="button-group">
      <%= f.submit '次へ進む', class: 'btn btn-primary custom-btn button-next' %>
      <%= link_to '同意画面へ戻る', 'javascript:history.back();', class: 'btn btn-outline-primary custom-btn button-back' %>
    </div>
  </div>
<% end %>






