<%= form_with url: submit_form_users_path, method: :post do %>
  <div class="form-container">
    <h2 class="form-title">生年月日</h2>

    <div class="form-row">
      <div class="col">
        <%= text_field_tag :year, nil, placeholder: '年', class: 'form-control' %>
      </div>
      <span>/</span>
      <div class="col">
        <%= text_field_tag :month, nil, placeholder: '月', class: 'form-control' %>
      </div>
      <span>/</span>
      <div class="col">
        <%= text_field_tag :day, nil, placeholder: '日', class: 'form-control' %>
      </div>
    </div>

    <div class="gender-section">
      <div class="form-check">
        <%= radio_button_tag :gender, 'male', false, id: 'male', class: 'form-check-input' %>
        <%= label_tag :male, '男性', class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= radio_button_tag :gender, 'female', false, id: 'female', class: 'form-check-input' %>
        <%= label_tag :female, '女性', class: 'form-check-label' %>
      </div>
    </div>

    <div class="button-group">
      <%= submit_tag '次へ進む', class: 'btn btn-primary custom-btn button-next' %>
      <%= link_to '同意画面へ戻る', 'javascript:history.back();', class: 'btn btn-outline-primary custom-btn button-back' %>
    </div>
  </div>
<% end %>

