<div class="counternutation_flexion_behavior">
  <div class="submit_pain_location_flexion">
    <h2 class="text-center mb-4">当てはまるものにチェックをお願いします</h2>

    <%= form_with url: pain_behavior_extention_counternutation_extention_behavior_path, method: :post, local: true, id: 'counternutation_form' do %>
      <div class="form-check">
        <%= check_box_tag 'conditions[]', 'standing_posture', false, class: 'form-check-input', id: 'standing_posture' %>
        <%= label_tag 'standing_posture', '尾骨を強く押さえながら腰を反らすと楽な気がする', class: 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= check_box_tag 'conditions[]', 'uncomfortable_feeling', false, class: 'form-check-input', id: 'uncomfortable_feeling' %>
        <%= label_tag 'uncomfortable_feeling', '痛みの出ている方の足で片足立をすると腰に痛みや違和感が出る', class: 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= check_box_tag 'conditions[]', 'a_feeling_of_unease', false, class: 'form-check-input', id: 'a_feeling_of_unease' %>
        <%= label_tag 'a_feeling_of_unease', '太ももやお尻にも痛みや違和感が出る', class: 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= check_box_tag 'conditions[]', 'one_finger', false, class: 'form-check-input', id: 'one_finger' %>
        <%= label_tag 'one_finger', '人差し指で痛みの部位を指し示すことができる', class: 'form-check-label' %>
      </div>

      <br>

      <div class="form-check">
        <%= check_box_tag 'conditions[]', 'nothing', false, class: 'form-check-input', id: 'nothing' %>
        <%= label_tag 'nothing', 'どれも当てはまらない', class: 'form-check-label' %>
      </div>
      <br>

      <div class="button-group mt-4 d-flex flex-column align-items-center">
        <%= submit_tag '次へ進む', class: 'btn btn-primary custom-btn', id: 'submit_button' %>
        <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
      </div>

      <div class="button-group mt-4 d-flex flex-column align-items-center">
        <%= link_to '痛みの動作に戻る', diagnosis_achlorhydria_path, class: 'btn btn-secondary custom-btn' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("submit_button").addEventListener("click", function(event) {
    var checkboxes = document.querySelectorAll('#counternutation_form input[type="checkbox"]:checked');
    if (checkboxes.length === 0) {
      event.preventDefault();  // フォーム送信を防ぐ

      // 既存のフラッシュメッセージがあれば削除する
      var existingFlashMessage = document.querySelector('#counternutation_form .alert.alert-danger');
      if (existingFlashMessage) {
        existingFlashMessage.remove();
      }

      // フラッシュメッセージを作成し、フォームの上部に挿入
      var flashMessage = document.createElement('div');
      flashMessage.className = 'alert alert-danger';
      flashMessage.textContent = "一つ選択してください";  // エラーメッセージを表示
      var form = document.getElementById("counternutation_form");
      form.insertBefore(flashMessage, form.firstChild);  // フォームの上部にフラッシュメッセージを表示
    }
  });
</script>


