<div class="pain_behavior_intervertebral_disk">
  <h2 class="text-center mb-4">当てはまるものにチェックをお願いします</h2>

  <%= form_with url: pain_behavior_intervertebral_disk_path, method: :post, local: true, authenticity_token: true do %>  <!-- 送信先修正 -->
    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'sitting_posture', false, class: 'form-check-input', id: 'sitting_posture' %>
      <%= label_tag 'sitting_posture', '長時間座りっぱなしだと痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'massage', false, class: 'form-check-input', id: 'massage' %>
      <%= label_tag 'massage', '椅子に座った状態で身体を前に倒し、足を伸ばすと痺れが起きる', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'limbs', false, class: 'form-check-input', id: 'limbs' %>
      <%= label_tag 'limbs', '下半身に痺れや力が入りにくいなど違和感がある', class: 'form-check-label' %>
    </div>

    <br>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'nothing', false, class: 'form-check-input', id: 'nothing' %>
      <%= label_tag 'nothing', 'どれも当てはまらない', class: 'form-check-label' %>
    </div>

    <div class="button-group mt-4 d-flex flex-column align-items-center">
      <%= submit_tag '次へ進む', class: "btn btn-primary custom-btn btn-lg" %>
      <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
    </div>
  <% end %>
</div>
