<div class="pain-location-flexion-container">
  <h2>一番痛い場所はどこですか？</h2>
  
  <div class="image-container">
  <%= image_tag "シェーマ図_疼痛部位2.png", alt: "人体図", class: "human-body-image" %>
</div>

<!-- フォームの開始 -->
<%= form_with url: submit_pain_location_flexion_path, method: :post, local: true do |f| %>
  <div class="radio">
    <%= radio_button_tag 'pain_location_flexion[pain_location]', '腰の筋肉', false, id: 'pain_external' %>
    <%= label_tag 'pain_external', '腰の筋肉' %>
  </div>
  
  <div class="radio">
    <%= radio_button_tag 'pain_location_flexion[pain_location]', '背骨付近', false, id: 'pain_center' %>
    <%= label_tag 'pain_center', '背骨付近' %>
  </div>
  
  <div class="radio">
    <%= radio_button_tag 'pain_location_flexion[pain_location]', '腰骨の下(お尻のライン)', false, id: 'pain_below' %>
    <%= label_tag 'pain_below', '腰骨の下(お尻のライン)' %>
  </div>
  
  <div class="button-group">
    <%= submit_tag "次へ進む", class: "btn btn-primary custom-btn btn-lg" %>
    <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
  </div>
<% end %>





