<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-sm" style="width: 350px; background-color: #ffffff;">
    <h2 class="text-center mb-4">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, "次回から自動でログインする", class: "form-check-label" %>
      </div>
<br>
      <%= f.submit "ログイン", class: "btn btn-primary custom-btn w-100" %>
    <% end %>

    <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, authenticity_token: true %>



    
    

    <div class="text-center mt-3">
      <%= link_to "パスワードを忘れた", new_password_path(resource_name), class: "text-primary" %>
    </div>
<br>
    <!-- トップページへ戻るボタン -->
    <div class="text-center mt-3">
      <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-primary custom-btn w-100" %>
    </div>
  </div>
</div>






