
<div class="myofascial_back_painflextion_behavior">
<div class="submit_pain_location_flexion">
  <h2 class="text-center mb-4">当てはまるものにチェックをお願いします</h2>

     <%= form_with url: myofascial_back_pain_extention_flexion_behavior_path, method: :post, local: true do %>
  
    <!-- 各チェックボックスの項目 -->
    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'posture', false, class: 'form-check-input', id: 'posture' %>
      <%= label_tag 'posture', '長時間、同じ姿勢や同じ動作をしていると痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'parietal_flexion', false, class: 'form-check-input', id: 'parietal_flexion' %>
      <%= label_tag 'parietal_flexion', '身体を横に曲げると痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'rotation', false, class: 'form-check-input', id: 'rotation' %>
      <%= label_tag 'rotation', '腰を捻ると痛みが出る', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'sluggish', false, class: 'form-check-input', id: 'sluggish' %>
      <%= label_tag 'sluggish', '腰が重だるい感じがする', class: 'form-check-label' %>
    </div>

    <div class="form-check">
      <%= check_box_tag 'conditions[]', 'massage', false, class: 'form-check-input', id: 'massage' %>
      <%= label_tag 'massage', '背中・腰回りの筋肉をほぐすと楽になる', class: 'form-check-label' %>
    </div>

    <br>

    <div class="form-check">
    <%= check_box_tag 'conditions[]', 'nothing', false, class: 'form-check-input', id: 'nothing' %>
    <%= label_tag 'nothing', 'どれも当てはまらない', class: 'form-check-label' %>
  </div>

    <div class="button-group mt-4 d-flex flex-column align-items-center">
      <%= submit_tag '次へ進む', class: 'btn btn-primary custom-btn' %>  <!-- submit_tagを使用してフォームを送信 -->
      <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
    </div>
  <% end %>
</div>
</div>

<!-- JavaScriptを使ったバリデーション -->
<script>
  document.getElementById("submit-button").addEventListener("click", function(event) {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    if (checkboxes.length === 0) {
      event.preventDefault(); // フォーム送信を中止
      document.getElementById("error-message").style.display = "block"; // エラーメッセージを表示
    }
  });
</script>


