<div class="result-container">
  <h2>あなたの腰痛は...</h2>
  <%= render 'shared/intervertebral_joint' %>
  <p class="possibility">の可能性があります</p>
  
  <% if user_signed_in? %>
<%= link_to '次へ進む', my_page_intervertebral_joint_user_path(current_user.id), class: 'btn btn-primary' %>
<% else %>
  <%= link_to '次へ進む', guest_intervertebral_joint_page_path, class: 'btn btn-primary' %>
<% end %>

 <div class="button-group mt-4 d-flex flex-column align-items-center">
  <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
  <%= link_to '最初から始める', users_all_form_path, class: 'btn btn-outline-primary' %>
</div>
    <div class="button-group mt-4 d-flex flex-column align-items-center">
    <%= link_to '痛みの動作に戻る', diagnosis_achlorhydria_path, class: 'btn btn-secondary custom-btn' %>
  </div>
