<<<<<<< HEAD
<div class='stretch-container'>
  <h2 class='text-center'>ストレッチ</h2>
  <h3 class='text-center'>お尻の筋肉</h3>

  <div class='row justify-content-center align-items-center'>
    <div class='col-md-5 text-center'>
      <img src='<%= asset_path 'gluteus_maximus1.png' %>' alt='Stretch image 1' class='img-fluid stretch-img'>
      <img src='<%= asset_path 'gluteus_maximus2.png' %>' alt='Stretch image 2' class='img-fluid stretch-img-small mt-4'>
    </div>
    <div class='col-md-5 stretch-instructions'>
=======
<div class="stretch-container">
  <h2 class="text-center">ストレッチ</h2>
  <h3 class="text-center">お尻の筋肉</h3>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center">
      <img src="<%= asset_path 'gluteus_maximus1.png' %>" alt="Stretch image 1" class="img-fluid stretch-img">
      <img src="<%= asset_path 'gluteus_maximus2.png' %>" alt="Stretch image 2" class="img-fluid stretch-img-small mt-4">
    </div>
    <div class="col-md-5 stretch-instructions">
>>>>>>> d83ee46f6a74ffc7cff9ee3271ce5b3b2faeafbd
      <p>伸ばしたい側の足を、反対側の膝上に乗せ足を組むように座る</p>
      <p>体を前に倒し、お尻の筋肉を伸ばしていく</p>
      <ul>
        <li>※痛みの出ない範囲で行う</li>
        <li>※お尻以外の場所に痛みが出る際は中止する</li>
      </ul>
    </div>
  </div>
  <%= link_to 'ストレッチ', stretch_top_path, class: 'btn btn-tertiary' %><br>
  <%= link_to '筋肉', muscle_top_path, class: 'btn btn-tertiary' %><br>
</div>