<title><%= render 'shared/counternutation' %></title>

<%# ストレッチセクションから1つランダムに表示 %>
<% stretch_partials = ['strech/hamstrings_towel', 'strech/gluteus_maximus'] %>
<%= render stretch_partials.sample %>

<%# リハビリセクションから1つランダムに表示 %>
<% rehab_partials = ['rehabilitation/draw_in', 'rehabilitation/hiplift'] %>
<%= render rehab_partials.sample %>

  <div class="buttons">
  <%= button_to 'マイページに登録', add_bookmark_path(url: request.fullpath, name: '仙腸関節(カウンターニューテーション)タイプ'), method: :post, class: 'btn btn-primary' %>
    <%= link_to '痛みの動作に戻る', diagnosis_achlorhydria_path, class: 'btn btn-secondary custom-btn' %>
    <a href="<%= users_all_form_path %>" class="btn btn-secondary">フォーム棚ページに戻る</a>
    <a href="<%= root_path %>" class="btn btn-tertiary">トップページに戻る</a>
  </div>

<script>
  document.getElementById("register_button")?.addEventListener("click", function(event) {
    event.preventDefault();  // デフォルトの動作を防ぐ
    var form = this.closest("form");
    form.submit();  // まずフォームを送信
  });
</script>
