<div class="pain-location-extention-container">
  <h2>動かした時の痛み</h2>
  <p>どこが痛みますか？</p>

  <!-- 人体図のイメージ -->
  <div class="image-container">
    <%= image_tag "シェーマ図.png", alt: "人体図" %>
  </div>

  <!-- 痛みの箇所を選択するチェックボックス -->
  <div class="checkbox-container">
    <%= form_with url: diagnosis_index_path, method: :post do |f| %>

      <div class="checkbox">
        <%= f.check_box :pain_location, { multiple: true }, '腰骨の外', false %>
        <%= f.label :pain_location, '腰骨の外 (腰全体)' %>
      </div>

      <div class="checkbox">
        <%= f.check_box :pain_location, { multiple: true }, '腰の中心', false %>
        <%= f.label :pain_location, '腰の中心 (背骨付近)' %>
      </div>

      <div class="checkbox">
        <%= f.check_box :pain_location, { multiple: true }, '腰骨の下(お尻のライン)', false %>
        <%= f.label :pain_location, '腰骨の下(お尻のライン)' %>
      </div>

      <!-- 「次へ進む」ボタン -->
      <div class="form-actions">
        <%= f.submit "次へ進む", class: "btn btn-primary" %>
       <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>
      </div>
    <% end %>
  </div>
</div>

