<!DOCTYPE html>
<html>
  <head>
    <title>where-does-back-pain-come-from</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 全ページで application.css を読み込み -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- HomeController#index のページでのみ home.css を読み込む -->
    <% if controller_name == 'home' && action_name == 'index' %>
      <%= stylesheet_link_tag 'home', "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

