<!DOCTYPE html>
<html>
  <head>
    <title>where-does-back-pain-come-from</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 全ページで application.css を読み込む -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    

  </head>

  <body>
  <button class="btn btn-primary">Primary Button</button>


    <%= yield %>
  </body>
</html>



